*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: monospace;
    background: #1A1A1A;
}

button{
    font-family: monospace;
}

header{
    display: flex;
    width: 90%;
    margin: auto;
    height: 10vh;
    align-items: center;
    font-weight: bold;

}

.logo-container, .nav-links{
    display: flex;
}


.logo-container{

    flex: 1;
    line-height: 5vh;
}

.logo-container img{

    height: 50px;
    width: 50px;
    
}

.logo{
    margin: 5px;
    font-size: 35px;
    color: white;

}

nav{
    flex: 3;
}

.nav-links{
    justify-content: space-around;
    list-style: none;

}

.nav-link{
    color: orange;
    font-size: 18px;
    text-decoration: none;
}

.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
    border: black solid 4px;
    padding: 5px;
    margin-bottom: 10px;
    background: #272727;

}

.presentation-Debut{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    min-height: 40vh;
    align-items: center;
    text-align: center;
}

.presentation-Debut .intro-text{
    background: black;
    padding: 20px;
    border: orange solid 1px;
    
}

.presentation-Debut .intro-text h1{
    margin-bottom: 20px;
    
}


.introduction{
    flex: 1;
    margin-left: 20px;

}

.intro-text h1{
    font-size: 44px;
    color: orange;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: tomato;
}

.cta{
    padding: 50px 0px 0px 0px;
    margin-bottom: 10px;
    margin-top: 10px;

}


.cta-select{
    border: 2px solid orange;
    background: transparent;
    color: orange;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
}

.cta-select-Apps{
    border: 2px solid tomato;
    background: transparent;
    color: tomato;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    
}

.cta-select2{
    padding: 10px 20px 10px 20px;
    background: pink;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid pink;
}

.cover{
    flex: 1;
    display: flex;
    justify-content: center; 
    height: 60vh;
    margin-top: 10px;
    
}

.cover img{
    height: 100%;
    animation: drop 1.5s ease;
    
}

ul li a
{
    text-decoration: none;
    color: orange;
    font-size: large;
    padding: 5px 10px;

    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;

}

ul li a:hover
{
    background-color: orange;
    padding: 5px 20px;
    color: black;


}

.selected
{
    font-size: 18px;
    padding: 5px 20px;
    color: orange;
    border: 2px solid orange;

}

.cover video{
    width: 25vw;
    height: 60vh;
}

.presentation-dice{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
    border: black solid 4px;
    padding: 5px;
    margin-bottom: 10px;
    background: #1c4a5c;

}
.presentation-dice .intro-text h1{
    color: #082c49;
    text-decoration: underline;
}
.presentation-dice .intro-text p{
    color: #83CCDD;
    margin: 5px;
}

.presentation-yourbex{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
    border: black solid 4px;
    padding: 5px;
    margin-bottom: 10px;
    background: #0e0e0e;

}
.presentation-yourbex .intro-text h1{
    color: white;
    text-decoration: underline;
}
.presentation-yourbex .intro-text p{
    color: grey;
    margin: 5px;
}

.presentation-dronebuilder{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
    border: black solid 4px;
    padding: 5px;
    margin-bottom: 10px;
    background: #283845;

}
.presentation-dronebuilder .intro-text h1{
    color: white;
    text-decoration: underline;
}
.presentation-dronebuilder .intro-text p{
    color: darkgrey;
    margin: 5px;
}




































@keyframes drop{
    0%{
        opacity: 0;
        transform: translateY(-80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1024px){
    .presentation{
        flex-direction: column;
    }
    .presentation-yourbex{
        flex-direction: column;
    }
    .presentation-dice{
        flex-direction: column;
    }
    .introduction{
        margin-top: 5vh;
        margin-left: 0;
        text-align: center;
    }
    .intro-text h1{
        font-size: 30px;
    }
    .intro-text p{
        font-size: 18px;
        text-align: justify;
        
    }
    .cta{
        padding: 10px 0px 0px 0px;
    }
    .cover img{
        height: 50%;
        
    }
 
    .cover video{
        width: 80vw;
        height: 50vh;
       
    }

    .line{
        width: 30px;
        height: 3px;
        background: orange;
        margin: 5px;
    }

    .hamburger{
        position: fixed;
        cursor: pointer;
        right: 3%;
        top: 5%;
        transform: translate(-5%, -50%);
    }

    .nav-links{
        
        position: fixed;
        background: #1A1A1A;
        height: 50vh;
        width: 80vw;
        flex-direction: column;
        clip-path: circle(100px at 90% -35%);
        -webkit-clip-path: circle(100px at 90% -35%);
        transition: all 1s ease-out;
        transform: scale(0.7);
        flex: 50;
        border: 5px solid black;
      
    }

    .nav-link{
        position: relative;
        margin-left: 15vw;
        display: table;
        /*left: 25%;*/
        

    }

    .selected{
        position: relative;
        margin-left: 15vw;
        display: table;
        /*left: 25%;*/

    }

    .nav-links.open{
        clip-path: circle(1300px at 90% -15%);
        -webkit-clip-path: circle(1300px at 90% -15%);

        
        
    }

    .logo
    {
        height: 10px;
        width: 10px;
    }
  
    .nav-links li {
        opacity: 0;
    }

    .nav-links li a {
        font-size: 25px;
    }
    
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.5s;
    }

    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }

    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }

    li.fade {
        opacity: 1;
    }

    li.tran {

        opacity: 0;
    }


}